$c-white: #FFFFFF;

$c-blue-100: #55ACEE;
$c-blue-200: #3B5998;

$c-grey-100: #EDF1F3;
$c-grey-200: #ADB2B7;
$c-grey-300: #5C6369;
$c-grey-400: #565F61;
$c-grey-500: #52535E;
$c-grey-600: #373844;
$c-grey-700: #14141D;

$c-pink: #FE4C8D;
$c-red: #DD4B39;

$c-orange-100: #FFC001; 
$c-orange-200: #FEA100;

$linear-gradient-background-light: linear-gradient(#7D8587, #7D8587);
$linear-gradient-background-dark: linear-gradient(rgba(black, 0.6), rgba(black, 0.6));