* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: $font-primary;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 20px;
}

.button {
    background-color: $c-orange-200;
    border-radius: 4px;
    color: $c-white;
    text-transform: uppercase;
    font-family: $font-secondary;
    font-size: 14px;
    font-weight: bold;
    padding: 15px 20px;
    outline: none;
    border: none;
    letter-spacing: 0.35px;
}

a {
    text-decoration: none;
    color: $c-white;
}

h2 {
    font-size: 35px;
    font-weight: 700;
    @media (max-width: $tablet) {
      margin-top: -50px;
    }
}

.swiper-pagination-bullet {
  border: 2px solid $c-grey-600;
  background-color: transparent;
  width: 14px;
  height: 14px;
}
.swiper-pagination-bullet-active {
  background-color: transparent;
  border: 2px solid $c-orange-200;
  position: relative;

  &::after {
    content: "";
    position: absolute;
    background-color: $c-orange-200;
    border-radius: 50%;
    height: 5px;
    width: 5px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}