.page-banner {
  background: $linear-gradient-background-light, url("../images/1970x750.png");
  width: 100%;
  height: 750px;
  color: $c-white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  &-cta {
    position: absolute;
    bottom: 133px;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;

    .cta {
      &-icon {
        width: 37px;
        height: 37px;
        margin-bottom: 19px;
      }

      &-text {
        color: $c-orange-200;
        font-family: $font-secondary;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 14px;
        margin-bottom: 6px;
      }

      &-number {
        font-weight: bold;
        font-size: 36px;
      }
    }
  }
}

.page-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  padding: 22px 0 22px 0;
  transition: 0.5s;
  z-index: 9999;

  &-container {
    height: 47px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;

    .page-logo {
      &-text {
        font-weight: bold;
        text-transform: uppercase;
        font-size: 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        &-orange {
          color: $c-orange-200;
          font-size: 33px;
        }
      }
    }

    .page-menu {
      font-size: 14px;
      font-family: $font-secondary;
      font-weight: bold;
      letter-spacing: 0.35px;
      text-transform: uppercase;

      &-list {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &-el {
          margin-left: 30px;
          position: relative;

          .cart {
            width: 21px;
            height: 17px;
            position: absolute;
            bottom: -6px;
          }

          .amount {
            display: inline-block;
            width: 15px;
            height: 15px;
            font-size: 11px;
            background: $c-pink;
            border-radius: 50%;
            padding: 3px;
            position: absolute;
            bottom: 3px;
            left: 15px;
          }
        }
      }
    }

    .header-button {
      outline: 1px solid $c-white;
      outline-offset: -3px;

      img {
        width: 21px;
        height: 17px;
        margin-right: 13px;
      }
      @media (max-width: 1060px) {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      @media (max-width: 530px) {
        top: 150%;
      }
    }
  }
}

.page-header-sticky {
  @extend .page-header;
  background-color: $c-grey-200;
  z-index: 999;
  padding: 16px 0;

  .page-logo-text {
    font-size: 14px;
    padding-left: 0;
    padding-bottom: 10px;

    &-orange {
      font-size: 26px;
    }
  }

  .header-button {
    font-size: 12px;

    img {
      width: 17px;
      height: 14px;
    }
    @media (max-width: 530px) {
        top: 50%;
        margin-left: 20px;
        font-size: 10px;
      }
  }
}

.carousel {
  height: calc(100% - 47px);

  &-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100%;
  }

  &-arrow {
    top: 360px;
    width: 60px;
    height: 60px;
    position: absolute;
    cursor: pointer;
    border: solid $c-white;
    border-width: 0 2px 2px 0;
    @media (max-width: $tablet) {
      width: 40px;
      height: 40px;
    }
    @media (max-width: 600px) {
      display: none;
    }

    &-left {
      left: 0;
      transform: translateX(calc(50% + 60px)) rotate(135deg);
    }

    &-right {
      right: 0;
      transform: translateX(calc(-50% - 60px)) rotate(-45deg);
    }
  }

  &-slide {
    top: 330px;
    position: absolute;
    font-weight: bold;
    text-align: center;
    display: none;
    @media (max-width: $mobile) {
      top: 300px;
    }

    &.active {
      display: block;
    }
  }

  &-title {
    font-size: 62px;
    @media (max-width: $tablet) {
      font-size: 52px;
    }
    @media (max-width: $mobile) {
      font-size: 42px;
    }
  }

  &-text {
    font-size: 42px;
    @media (max-width: $tablet) {
      font-size: 34px;
    }
    @media (max-width: $mobile) {
      font-size: 28px;
    }
  }
}

.page-menu-burger {
  display: none;
}

@media (max-width: 1060px) {
  .page-menu {
    position: relative;
    &-burger {
      display: flex;
      position: relative;
      width: 60px;
      height: 60px;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      background: none;
      border: none;

      span {
        width: 25px;
        height: 3px;
        background-color: $c-white;
        margin: 2px;
      }
    }
  }

  .open-menu span:nth-of-type(1) {
    transform: rotate(45deg);
    position: absolute;
    transition: 0.2s;
  }

  .open-menu span:nth-of-type(2) {
    opacity: 0;
  }

  .open-menu span:nth-of-type(3) {
    transform: rotate(-45deg);
    position: absolute;
    transition: 0.2s;
  }

  .page-menu-list {
    position: absolute;
    top: -500px;
    background-color: $c-grey-300;
    flex-direction: column;
    padding: 0 50px 0 30px;

    &-el {
      padding: 14px 10px;
      margin-left: 0;

      &:first-child {
        margin-top: 40px;
      }

      &:last-child {
        margin-bottom: 40px;
      }
    }

    &-link:hover {
      border-bottom: none;
      color: $c-grey-200;
    }
  }

  .show-menu {
    display: flex;
    top: 70px;
    transition: 0.5s;
    right: 0;
    z-index: 999;
  }
}
