.reserve-section {
  background: $linear-gradient-background-dark, url("../images/1970x518.png");
  width: 100%;
  min-height: 518px;
  position: relative;

  &-container {
    padding-top: 145px;
    padding-bottom: 95px;
    align-content: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    @media (max-width: $tablet) {
      padding-top: 80px;
      padding-bottom: 80px;
    }
  }

  .form-wrapper {
    max-width: 785px;

    .form-title {
      color: $c-white;
      font-size: 35px;
      font-weight: 700;
      text-align: center;
      margin-bottom: 24px;
    }

    .form-body {
      @media (max-width: $tablet) {
           display: grid;
        }
      input {
        width: 370px;
        height: 51px;
        border-radius: 2px;
        padding: 20px 0 17px 23px;
        margin-bottom: 10px;
        border: none;
        color: $c-grey-600;
        font-size: 14px;
        font-family: $font-secondary;
        @media (max-width: $tablet) {
            font-size: 16px;
            margin-bottom: 15px;
        }
        @media (max-width: $tablet) {
           justify-self: center;
        }

        &:nth-of-type(even) {
          margin-left: 30px;
          @media (max-width: $tablet) {
            margin-left: 0;
          }
        }

        &::placeholder {
          color: $c-grey-600;
          font-family: $font-secondary;
          font-size: 14px;
          @media (max-width: $tablet) {
            font-size: 16px;
          }
        }
      }
    }

    .form-footer {
      display: flex;
      align-items: center;
      margin-top: 36px;

      .footer-text {
        .text-content {
          color: $c-white;
          text-transform: uppercase;
          font-family: $font-secondary;
          font-weight: 700;
          font-size: 13px;
          margin-left: 43px;
          &-pink {
            @extend .text-content;
            color: $c-pink;
            padding-top: 2px;
          }
        }
        &-number {
          color: $c-white;
          margin-left: 29px;
          font-size: 24px;
          font-weight: bold;
        }
      }
    }
  }

  .reserve-section-decorative-image {
    position: absolute;
    @media (max-width: $laptop) {
      display: none;
    }

    &-left {
      width: 293px;
      height: 293px;
      left: 246px;
      top: -48px;
      @media (max-width: $laptop-l) {
        width: 250px;
        height: 250px;
        left: 40px;
        top: -28px;
      }
    }

    &-right {
      width: 241px;
      height: 234px;
      right: 283px;
      bottom: -25px;
      @media (max-width: $laptop-l) {
        width: 220px;
        height: 215px;
        right: 69px;
      }
    }
  }
}
